.btn
{
    border: none;
    text-decoration: none;
    background: transparent;
    font: 0.9rem;
    background-color: aqua;
    border-radius: 5px;
    color: white;
    padding: 6px 16px;
    cursor: pointer;


}
.btn:hover{
    color: blueviolet;
    background: white;
}